.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 20;
}
.card-layout .h1 {
    margin-bottom: 15;
}

.fab-button {
    height: 70;
    margin: 15;
    color: white;
    background-color: #8130ff;
    horizontal-align: right;
    vertical-align: bottom;
}
